@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Regular.ttf);
}

@mixin data__contact {
    line-height: 24px;
    letter-spacing: 0.2px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

header {
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    padding: 26px 93px;
    color: #FFFFFF;

    .menu__adaptive__logo {
        display: flex;
        align-items: baseline;

        h1 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 28px;
            margin-left: 13px;
        }
    }

    section {
        nav {
            #menu__toggle {
                opacity: 0;
                display: none;
            }

            #menu__toggle:checked~.menu__btn>span {
                transform: rotate(45deg);
            }

            #menu__toggle:checked~.menu__btn>span::before {
                top: 0;
                transform: rotate(0);
            }

            #menu__toggle:checked~.menu__btn>span::after {
                top: 0;
                transform: rotate(90deg);
            }

            #menu__toggle:checked~.menu__box {
                visibility: visible;
                right: 15px;
            }

            .menu__box {
                display: flex;
                justify-content: space-between;
                min-width: 433px;
                list-style-type: none;

                li:first-child {
                    text-decoration: underline;
                }

                .menu__item {
                    text-decoration: none;
                    font-weight: 600;
                    letter-spacing: 0.2px;
                    font-family: Poppins;
                    font-size: 14px;
                    color: #FFFFFF;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

footer {
    @extend header;

    position: static;
    background-color: #222222;
    flex-direction: column;
    align-items: center;
    padding: 91px 0 37px;

    section:first-child {
        display: flex;
        align-items: baseline;

        img {
            height: 44px;
        }

        h1 {
            font-size: 46px;
            line-height: 32px;
            margin-left: 15px;
        }
    }

    section {
        nav {
            .menu__box {
                li:first-child {
                    text-decoration: none;
                }

                .menu__item {
                    font-family: Gilroy;
                    font-size: 16px;
                    line-height: 16px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    color: #777777;
                }
            }
        }
    }

    section {
        margin-bottom: 47px;

        .copyright {
            @include data__contact;

            color: #777777;
            font-size: 14px;
        }
    }
}

iframe {
    width: 100vw;
    height: 100vh;
}

.swiper-container {
    background: linear-gradient(180deg, #050D1D 11.29%, rgba(5, 13, 29, 0) 90.3%);
    mix-blend-mode: normal;

    .swiper-wrapper {
        pointer-events: none;
        height: 100vh !important;

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #fff !important;
        top: 46% !important;
    }

    .swiper-button-next {
        right: 181px !important;
    }

    .swiper-button-prev {
        left: 166px !important;
    }

    .swiper__content {
        position: absolute;
        top: 32.4vh;
        left: 46%;
        transform: translate(-42%, 0);
        text-align: center;
        color: #fff;
        z-index: 10;
        cursor: pointer;

        h1 {
            font-size: 90px;
            letter-spacing: 3px;
            line-height: 100px;
            font-weight: 600;
        }

        h3 {
            font-size: 18px;
            line-height: 32px;
            letter-spacing: 0.8px;
            margin-top: 27px;
        }

        button {
            background-color: #00A031;
            border-radius: 27px;
            border: none;
            outline: 0;
            font-family: Gilroy;
            font-size: 18px;
            line-height: 22px;
            color: #F4FBF6;
            letter-spacing: 0.4px;
            padding: 16px 23px;
            margin-top: 56px;
            margin-right: 6px;
        }
    }

    .swiper-pagination {
        .swiper-pagination-bullet {
            width: 13px !important;
            height: 13px !important;
            background: #FFFFFF !important;
            opacity: 1 !important;
        }

        .swiper-pagination-bullet-active {
            background: #00A031 !important;
        }
    }
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px !important;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 11.6vh !important;
}

address {
    @include data__contact;

    color: #6C6C6C;

    p {
        display: inline;
    }
}

h4 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.location__wrapper {
    display: flex;
    justify-content: center;
    margin-left: 113px;
    padding: 160px 0 190px;
    width: 100vw;

    section {
        width: 271px;

        .location__title_open {
            margin-top: -8px;
            margin-bottom: 33px;

            pre {
                font-weight: bold;
                font-size: 52px;
                line-height: 62px;
                letter-spacing: 3px;
                color: #00A031;
                margin-bottom: 15px;
            }
        }

        .location__items__container {
            .location__item {
                display: flex;
                align-items: flex-start;
                padding: 23px 0;

                section {
                    h4 {
                        font-weight: 600;
                        color: #00A031;
                    }
                }

                img {
                    margin-right: 21px;
                    margin-left: 16px;
                }
            }
        }
    }

    #googleMap {
        width: 700px;
        height: 758px;
        margin-left: 98px;
    }

    .location__container_open {
        position: relative;
        background-color: #fff;
        right: 218px;
        width: 333px;
        top: 12.9vh;
        padding: 24px 57px;
        margin-bottom: 24.3vh;
        box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.0758039);

        .location_open {
            margin-bottom: 36px;

            h3 {
                font-weight: 800;
                font-size: 38px;
                line-height: 51px;
                letter-spacing: .4px;
                color: #1C201E;
                margin-bottom: 8px;
            }
        }

        .location__content_open {
            section {
                position: relative;

                h4 {
                    color: #1C201E;
                    position: absolute;
                    top: -3px;
                    left: 37px;
                }

                p {
                    @include data__contact;

                    color: #999999;
                }

                img {
                    display: block;
                    margin-bottom: 9px;
                }
            }

            .location__schedule_open {
                width: 200px;
                margin-bottom: 26px;

                img {
                    margin-bottom: 7px;
                }

                p {
                    display: inline;

                    &:nth-child(odd) {
                        color: #222222;
                    }
                }
            }

            .location__tel_open {
                margin-bottom: 26px;
            }
        }
    }
}

a[href^="https://maps.google.com/maps"] {
    display: none !important
}

.gm-style-cc {
    display: none;
}

#LosAngeles {
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.0758039);
}

@media (max-width: 1024px) {
    .menu__adaptive {
        nav {
            #menu__toggle {
                display: block;
            }

            .menu__box {
                display: block;
                position: fixed;
                visibility: hidden;
                top: 15px;
                right: -100%;
                padding: 9px 0;
                box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
                transition-duration: .25s;
                min-width: 182px;

                .menu__item {
                    display: block;
                    padding: 12px 24px;
                    transition-duration: .25s;
                }

                .menu__item:hover {
                    background-color: #CFD8DC;
                }
            }

            .menu__btn {
                display: flex;
                align-items: center;
                position: fixed;
                top: 34px;
                right: 34px;
                width: 26px;
                height: 26px;
                cursor: pointer;
                z-index: 1;
            }

            .menu__btn>span,
            .menu__btn>span::before,
            .menu__btn>span::after {
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #FFFFFF;
                transition-duration: .25s;
            }

            .menu__btn>span::before {
                content: '';
                top: -8px;
            }

            .menu__btn>span::after {
                content: '';
                top: 8px;
            }
        }
    }

    header .menu__adaptive__logo {
        display: none;
    }

    footer section nav .menu__box {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1120px) {
    .location__items__container {
        flex-direction: column;
        align-items: center;
    }

    .swiper-button-next, .swiper-button-prev {
        display: none !important;
    }
}

@media (max-width: 1366px) {
    .location__wrapper {
        flex-direction: column;
        align-items: center;
        margin-left: 0;

        section {
            width: 100vw;

            .location__title_open {
                text-align: center;
            }

            .location__items__container {
                display: flex;
                justify-content: center;

                .location__item {
                    width: 271px;
                }
            }
        }

        #googleMap {
            width: 104vw;
            margin-left: 0;
        }

        .location__container_open {
            position: static;
            padding: 3vh 33vw;
            width: 104vw;
            margin-bottom: 0;
            flex-direction: column;
            display: flex;
            align-items: center;
            box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.0758039);

            .location_open {
                text-align: center;
            }
        }
    }
}